[project]
name = "codespaces-quickstart"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "rasa-pro>=3.14.2",
]
